@model Teste_Aptidao_UGB.Model.Models.Solicitacao

@{
    ViewData["Title"] = "Editar solicitação";
}


<h4>Editar solicitação</h4>
<hr />
@{
    if (ViewData["Mensagem"] != null)
    {
        <a asp-action="Create" class="btn-sm btn-primary"> <i class="fa fa-plus"></i>&nbsp; Nova solicitação</a>
    }
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocodProduto"></label>
                <select class="form-select" asp-for="SocodProduto" asp-items="@ViewBag.SocodProduto">
                    <option selected value="">Selecione o produto</option>
                </select>
                <span asp-validation-for="SocodProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soquantidade"></label>
                <input asp-for="Soquantidade" class="form-control" type="number" />
                <span asp-validation-for="Soquantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocodDepartamento"></label>
                <select class="form-select" asp-for="SocodDepartamento" asp-items="@ViewBag.SocodDepartamento">
                    <option selected value="">Selecione o departamento</option>
                </select>
                <span asp-validation-for="SocodDepartamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocodUsuario"></label>
                <select class="form-select" asp-for="SocodUsuario" asp-items="@ViewBag.SocodUsuario">
                    <option selected value="">Selecione o usuário</option>
                </select>
                <span asp-validation-for="SocodUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sodata"></label>
                <input asp-for="Sodata" class="form-control" type="datetime-local" />
                <span asp-validation-for="Sodata" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocodServico"></label>
                <select class="form-select" asp-for="SocodServico" asp-items="@ViewBag.SocodServico">
                    <option selected value="">Selecione o serviço</option>
                </select>
                <span asp-validation-for="SocodServico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocodFornecedor"></label>
                <select class="form-select" asp-for="SocodFornecedor" asp-items="@ViewBag.SocodFornecedor">
                    <option selected value="">Selecione o fornecedor</option>
                </select>
                <span asp-validation-for="SocodFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soobservacao"></label>
                <input asp-for="Soobservacao" class="form-control" />
                <span asp-validation-for="Soobservacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soconcluida"></label>
                <input asp-for="Soconcluida" class="form-control" type="checkbox" />
                <span asp-validation-for="Soconcluida" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button class="btn-sm btn-success"><i class="fa fa-save"></i>&nbsp; Salvar</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Voltar para a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var mensagem = "@ViewData["Mensagem"]";
        var mensagemErro = "@ViewData["MensagemErro"]";
    </script>

    <script>
        if (mensagem != "") {
            MensagemOK(mensagem);
        }
        if (mensagemErro != "") {
            MensagemErro(mensagemErro);
        }
    </script>
}
