@model IEnumerable<UsuarioVM>

@{
    ViewData["Title"] = "Lista de usuários";
}

<h1>Lista de usuários</h1>
<hr />
<p>
    <a asp-action="Create" class="btn-sm btn-primary"> <i class="fa fa-user-plus"></i>&nbsp; Novo usuário</a>
</p>
<table id="table" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-matricula="@item.Matricula" class="btn-sm btn-primary"> <i class="fa fa-folder-open"></i>&nbsp; Editar</a>
                    <a asp-action="Delete" asp-route-matricula="@item.Matricula" class="btn-sm btn-danger"> <i class="fa fa-trash"></i>&nbsp; Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        //Rotina que configura a tabela para ser exibida como um DataTable.
        ConfiguraDataTable("table")
    </script>
}
