@model Teste_Aptidao_UGB.ViewModel.OrdemCompraVM

@{
    ViewData["Title"] = "Editar ordem de compra";
}


<h4>Editar ordem de compra</h4>
<hr />
@{
    if (ViewData["Mensagem"] != null)
    {
        <a asp-action="Create" class="btn-sm btn-primary"> <i class="fa fa-plus"></i>&nbsp; Nova ordem de compra</a>
    }
}
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-6">
                <label asp-for="CodigoFornecedor"></label>
                <select required class="form-select" asp-for="CodigoFornecedor" asp-items="@ViewBag.codigofornecedor">
                    <option selected value="">Selecione o fornecedor</option>
                </select>
                <span asp-validation-for="CodigoFornecedor" class="text-danger"></span>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Data" class="control-label"></label>
                    <input required asp-for="Data" class="form-control" type="date" />
                    <span asp-validation-for="Data" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md">
                <label class="control-label">Número da solicitação</label>
                <input id="numeroSolicitacao" class="form-control" type="number" />
            </div>
        </div>

        <br />
        <div class="form-group row">
            <div class="col-md">
                <label class="control-label">Produto</label>
                <input type="text" id="produto" readonly />
            </div>
            <div class="col-md">
                <label class="control-label">Quantidade</label>
                <input type="number" id="quantidade" readonly />
            </div>
            <div class="col-md">
                <label class="control-label">Valor unitário</label>
                <input type="text" id="valorUnitario" readonly />
            </div>
        </div>
        <br />
        <div class="form-group" style="display: flex; justify-content: center">
            <input type="button" value="Adicionar" class=" fa fa-plus btn btn-primary" onclick="Adicionar()" />
        </div>

        <table id="table" class="table">
            <thead>
                <tr>
                    <th>
                        Pedido
                    </th>
                    <th>
                        Quantidade Requisitada
                    </th>
                    <th>
                        Descrição
                    </th>
                    <th>
                        Data Entrega
                    </th>
                    <th>
                        Unidade
                    </th>
                    <th>
                        Quantidade
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Código EAN
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    var contador = 0;
                }
                @foreach (var item in Model.Solicitacoes)
                {
                    <tr>
                        <td>
                            <input type="hidden" name="Solicitacoes[@contador].Codigo" value="@item.Codigo" class="Codigo" />
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuantidadeRequisitada)
                        </td>
                        <td>
                            @{
                                if (item.IsServico == true)
                                {
                                    @Html.DisplayFor(modelItem => item.Servico)
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Produto)
                                }
                            }
                        </td>
                        <td>
                            <input type="date" id="Solicitacoes[@contador].DataEntrega" name="Solicitacoes[@contador].DataEntrega" class="DataEntrega validar" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Unidade)
                        </td>
                        <td>
                            <input type="number" id="Solicitacoes[@contador].Quantidade" name="Solicitacoes[@contador].Quantidade" class="Quantidade validar" />
                        </td>
                        <td>
                            <label id="valorUnitario" class="valorUnitario">@item.ValorUnitario</label>
                        </td>
                        <td>
                            <label id="valorTotal"></label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CodigoProduto)
                        </td>
                        <td>
                            <button type="button" class="btn-sm btn-danger remover"><i class="fa fa-trash"></i>&nbsp; Excluir</button>
                        </td>
                    </tr>
                    contador += 1;
                }
            </tbody>
        </table>
        <div class="form-group" style="display: flex; justify-content: center">
            <button type="submit" onclick="return ValidaPreenchimento()" class="btn btn-info">Solicitar ao fornecedor</button>
        </div>
        <button onclick="ValidaPreenchimento()" type="button">Solic</button>
    </form>
</div>

<div>
    <a asp-action="List">Voltar para a lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var urlSolicitacao = "@Url.Action("GetSolicitacao", "ConsultaSolicitacao")";
        var dados;
        var mensagem = "@ViewData["Mensagem"]";
        var mensagemErro = "@ViewData["MensagemErro"]";
    </script>
  
    <script>
        //Lógica utilizada para exibir as mensagens de sucesso ou erro ao salvar os dados.
        if (mensagem != "") {
           MensagemOK(mensagem);
        }
        if (mensagemErro != "") {
           MensagemErro(mensagemErro);
        }

        $("#numeroSolicitacao").on("blur", function () {
            var solicitacao = $(this).val();
            console.log(solicitacao)
            if (solicitacao != "") {
                $.get(urlSolicitacao + "?codigoSolicitacao=" + solicitacao, function (data) {
                    dados = data;
                    $("#codigo").val(data.codigoProduto);
                    $("#produto").val(data.produto);
                    $("#quantidade").val(data.quantidade);
                    $("#valorUnitario").val(data.valorUnitario);
                })
            }
        })

        $("#table").on("blur", ".Quantidade", function () {
            var linha = $(this).closest("tr");
            var quantidade = $(this).val();
            var valor = $(linha).find("#valorUnitario").text();
            var valorTotal = parseFloat(quantidade) * parseFloat(valor);
            $(linha).find('#valorTotal').text(valorTotal);
            console.log("valor", valor);
        })
        function Adicionar() {
            var contador = $("#table tbody tr").length;
            var linha = `<tr><td>${dados.codigo}<input type="hidden" class="Codigo" name="Solicitacoes[${contador}].Codigo" value="${dados.codigo}" /></td><td>${dados.quantidadeRequisitada}</td><td>${dados.produto}</td><td><input type="date" class="DataEntrega validar" name="solicitacoes[${contador}].DataEntrega"/></td>` +
                `<td>${dados.unidade}</td><td> <input type="number" class="Quantidade validar" name="Solicitacoes[${contador}].Quantidade"/></td><td><label id="valorUnitario">${dados.valorUnitario}</label></td><td><label id="valorTotal"></label></td>` +
                `<td>${dados.codigoProduto}</td><td><button type="button" class="btn-sm btn-danger remover"><i class="fa fa-trash"></i>&nbsp; Excluir</button></td>`;

            $("#table tbody").append(linha);
        }

        //Apaga o dado da tabela e atualiza o index da linha
        $("#table").on("click", ".remover", function () {
            $(this).closest("tr").remove();
            var linhas = $("table tbody ").find("tr");
            linhas.each(function (index) {

                console.log($(this).find(".DataEntrega").attr("name", `Solicitacoes[${index}].DataEntrega`), 'index', index);
                $(this).find(".DataEntrega").attr("name", "Solicitacoes[" + index + "].DataEntrega");
                $(this).find(".Quantidade").attr("name", "Solicitacoes[" + index + "].Quantidade");
                $(this).find(".Codigo").attr("name", "Solicitacoes[" + index + "].Codigo");

            });
        });


        function ValidaPreenchimento() {
            var valido = true;
            var linhas = $("table tbody ").find("tr");
            linhas.each(function (index) {
                if ($(this).find(".validar").val() == "") {
                    $(this).find(".validar").addClass("borda");
                    valido = false;
                }

            });
            return valido;
        };



    </script>
}
